/*
=======================
header
=======================
*/

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-top: 10px;
}

.left-nav {
    display: flex;
    justify-content: space-between;
}

.left-nav a {
    margin: 0 auto;
    margin-left: 40px;
}

#search {
    margin-left: 30px;
}

.right-nav {
    margin-right: 20px;
}

#subscribe {
    margin-right: 10px;
    background: #5c8a8a;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 10px;
}

#login {
    background: #5c8a8a;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 10px;
}

/*
=======================
main section
=======================
*/

.smoking-gun h1 {
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.smoking-gun img {
    max-width: 1002px;
    min-width: 1003px;
    padding: 0;
    margin: 0;
    border: 0;
    margin-left: 135px;
}

.smoking-gun figcaption {
    font-size: 14px;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    color: #666;
    margin-left: 140px;
    text-align: left;
}

/* Paragraph Section */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    width: 85%;
}

.article p {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    font-size: 24px;
    line-height: 1.5;
    margin-left: 350px;
    margin-right: 350px;
}

.article h5 {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 350px;
    margin-right: 350px;
}

.article-date-social-icons {
    display: flex;
}

.article-date-social-icons p {
    font-size: 15px;
}

.social-icons {
    display: flex;
    font-size: 28px;
    width: 160px;
    justify-content: space-around;
}

.appreciation p {
    text-align: center;
    font-size: 15px;
    line-height: 1.2;
}

hr {
    width: 5%;
}

h2 {
    margin-left: 350px;
}

.editor {
    display: flex;
    flex-direction: column;
}

.aside-editor {
    display: flex;
}

.aside-editor img {
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.aside-editor a {
    line-height: 1.4;
}

.editor h4 {
    margin-bottom: 10px;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

.editor hr {
    width: 100%;
    margin-bottom: 30px;
}

.inflation-grid {
    background-image: url('/images/inflation-945.png');
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-size: cover;
    padding-top: 12rem;
   grid-column-gap: 10px;
   grid-row-gap: 150px;
}
.physics-breakthrough {
    margin-right: 350px;
    margin-left: 350px;
}

.physics-breakthrough iframe {
    width: 650px;
    height: 415px;
}
.news p{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    font-size: 24px;
    line-height: 1.5;
    margin-left: 350px;
    margin-right: 350px;
}
.news h3{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 350px;
    margin-right: 350px;
    
}
.bicep img {
    margin-right: 350px;
    margin-left: 350px;
    width: 800px;
    height: 515px;
}

.bicep figcaption {
    margin-left: 350px;
    font-size: 14px;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    color: #666;
}

