/*
=======================
header
=======================
*/

.header-container {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    padding-top: 1px;
    border-bottom: 1px solid #ddd9d9
}

.left-nav, .middle-nav, .right-nav {
    height: 40px;
}

.left-nav {
    display: flex;
    justify-content: space-between;
}

.left-nav a {
    margin: 0 auto;
    margin-left: 40px;
}

#search {
    margin-left: 30px;
}

.right-nav {
    margin-right: 20px;
}

#subscribe {
    margin-right: 10px;
    background: #4c6e92;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 10px;
}

#login {
    background: #4c6e92;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 10px;
}

/*
=======================
main section
=======================
*/

main {
    overflow: hidden;
}

.container {
    margin: 50px 150px 70px 150px;
}

.smoking-gun h1 {
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    margin-left: 150px;
}

.smoking-gun img {
    width: 980px;
}

.smoking-gun figcaption {
    font-size: 15px;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    color: #666;
    text-align: left;
}

/* Paragraph Section */

.wrapper {
    margin: 20px 30px 50px 150px;
}

.art-aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    margin-right: 10px;
    width: 580px;
}

.article-date-social-icons {
    display: flex;
    justify-content: space-between;
}

.social-icons {
    margin-right: 35px;
    justify-content: space-evenly;
}

.iconify {
    font-size: 40px;
}

.article p {
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    font-size: 24px;
    line-height: 1.3;
}

.article h5 {
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    font-size: 14px;
    line-height: 1.5;
}

.article-date-social-icons p {
    font-size: 15px;
}

.social-icons {
    display: flex;
    font-size: 28px;
    width: 100px;
    justify-content: space-between;
}

.appreciation p {
    text-align: center;
    font-size: 15px;
    line-height: 1.2;
}

hr {
    width: 5%;
}

.editor {
    display: flex;
    flex-direction: column;
    margin: 1px 10px 1px 75px;
}

.aside-editor {
    display: flex;
}

.aside-editor img {
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.aside-editor a {
    line-height: 1.4;
}

.editor h4 {
    margin-bottom: 10px;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

.editor hr {
    width: 100%;
    margin-bottom: 30px;
}

.inflation0 {
    margin: auto;
    width: 80%;
}

.inflation-grid {
    background-image: url('/images/inflation-945.png');
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-size: cover;
    padding-top: 12rem;
    grid-column-gap: 10px;
    grid-row-gap: 150px;
}

.wrapper2 {
    margin: 20px 30px 50px 150px;
}

.wrapper2 h3 {
    margin-left: 180px;
    font-size: 20px;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

.physics-breakthrough iframe {
    width: 600px;
    height: 350px;
    margin-right: 10px;
    margin-left: 140px;
}

.physics-breakthrough-cap {
    width: 600px;
    margin-right: 10px;
    margin-left: 140px;
}

.article2 {
    width: 620px;
}

.article2 p {
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    font-size: 24px;
    line-height: 1.3;
    margin: 0px -150px 0px 180px;
}

.bicep img {
    width: 580px;
    height: 380px;
    margin-left: 150px;
}

.bicep figcaption {
    margin-left: 150px;
    font-size: 14px;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    color: #666;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

.comments-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
    padding: 20px;
}

.read-comments {
    background: #4c6e92;
    color: #fff;
    padding: 6px;
    margin-right: 100px;
    width: 250px;
}

.social-icons {
    display: flex;
    font-size: 17px;
    margin-left: 130px;
}

.svg {
    padding-bottom: 3px;
}

.f-svg a {
    float: right;
}

.footer-grid-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-content a {
    line-height: 1.5;
}

.footer-content h5 {
    margin-bottom: 10px;
}

.footer-content a, .footer-content h5 {
    border-top: 4px;
}

footer a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

.f-links ul {
    display: flex;
    justify-content: space-between;
}

footer li {
    font-size: 12px;
}