/*
=======================
header
=======================
*/

header {
    height: 50px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-top: 10px;
}

.left-nav {
    display: flex;
    justify-content: space-between;
}

.left-nav a {
    margin: 0 auto;
    margin-left: 40px;
}

#search {
    margin-left: 30px;
}

.right-nav {
    margin-right: 20px;
}

#subscribe {
    margin-right: 10px;
    background: #5c8a8a;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 10px;
}

#login {
    background: #5c8a8a;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 10px;
}

/*
=======================
main section
=======================
*/

.smoking-gun h1 {
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.smoking-gun img {
    max-width: 1002px;
    min-width: 1003px;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
    margin-left: 135px;
}

.smoking-gun figcaption {
    font-size: 14px;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    color: #666;
    margin-left: 140px;
    text-align: left;
}